{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Log In</h1>

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('user_login') }}" method="post">
        <div class="mb-3">
            <label for="username-input" class="form-label">Email</label>
            <input type="email" name="_username" class="form-control" id="username-input" value="{{ last_username }}" required>
        </div>
        <div class="mb-3">
            <label for="password-input" class="form-label">Password</label>
            <input type="password" class="form-control" name="_password" id="password-input" required>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>
{% endblock %}
